<div class="bottom-img hidden-sm hidden-xs grey-bg">
  <img src="{{ 'lookbook-img_new.png' | asset_url }}">
</div>

{% schema %}
{
  "name": "Legacy Bottom Image",
  "class": "section-container__bottom-image",
  "presets": [
    {
      "category": "Bottom Image",
      "name": "Legacy Bottom Image"
    }
  ]
}
{% endschema %}
