<div class="home-banner text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="align-wrap">
          <div class="align-middle">
            <p class="cta-subheading bottom">PARENTING &amp; TEACHING</p>
            <p class="cta-heading">just got a lot simpler</p>
            <div class="box">
              <strong>ONE</strong> life transformed<br/>
              <strong>TEN</strong> minutes a day<br/>
              <strong>TWELVE</strong> virtues
            </div>
            <p>Thousands of Parents &amp; Teachers<br/>
              25 Years of Teaching Experience<br/>
              30 Nations and counting</p>
            <p><a class="btn btn-primary" href="/collections/">Get Started Today</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-7">
        <div class="align-wrap">
          <div class="align-middle">

            <p><img src="{{ 'hero-photos-img.png' | asset_url }}" alt=""></p>
            <a class="popup-video text-center" href="https://vimeo.com/184131099"><i
                      class="fa fa-play-circle"></i><span class="visible-xs">Watch Our Video</span></a>

          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="align-wrap">
          <div class="align-middle">
            <p class="cta-heading">Give your kids wings. Give them Virtues!</p>
            <p class='cta-head'>We Choose Virtues teaches a lifestyle of character using a simple language.
              Thousands of teachers, parents and grandparents are inspiring children with Virtues and
              watching them find success. You can too!<br/>
              <strong>We Choose Virtues… Simply Inspiring Character that Lasts.</strong>
            <p><a class="btn btn-primary" href="/collections/">Shop Latest Products</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="align-wrap">
          <div class="align-middle">
            <p><img src="{{ '' | asset_url }}" alt=""></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Old Slider",
  "class": "section-container__old-slideshow",
  "presets": [
    {
      "category": "Slideshow",
      "name": "Old Slider"
    }
  ]
}
{% endschema %}
