<div class="cta-row text-center video--section">
  <div class="container">

    <div class="row">
      <a class="popup-video text-center" href="https://www.youtube.com/watch?v=q0Ypv1hOAiQ">
        <div class="col-sm-12">
          <div class="align-wrap">
            <div class="align-middle">


              <p class="cta-heading">We use <em class="text-color">100%</em> recycled wood <a
                        class="btn btn-hollow" href="#">Learn More</a></p>
            </div>
          </div>
        </div>
      </a>
      <div class="col-sm-4">
        <div class="align-wrap">
          <div class="align-middle">
            <p class="bottom"><img src="{{ 'cta-row-2.png' | asset_url }}" alt=""></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Video",
  "class": "section-container__video",
  "presets": [
    {
      "category": "Video",
      "name": "Video"
    }
  ]
}
{% endschema %}
