.section-container__slideshow .swiper-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay);
  opacity: var(--overlay-opacity);
  z-index: 1;
}
.section-container__slideshow .swiper-container .image--container {
  width: 100%;
  max-width: 100%;
  position: relative;
}
.section-container__slideshow .swiper-container .image--container img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.section-container__slideshow .swiper-container .image--container img.desktop {
  display: block;
}
.section-container__slideshow .swiper-container .image--container img.mobile {
  display: none;
}
@media (max-width: 768px) {
  .section-container__slideshow .swiper-container .image--container img.desktop {
    display: none;
  }
  .section-container__slideshow .swiper-container .image--container img.mobile {
    display: block;
  }
}
.section-container__slideshow .swiper-container .content--container__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 15px;
  color: var(--color-text);
  text-align: center;
}
.section-container__slideshow .swiper-container .content--container__wrapper .content--container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 450px;
  width: 100%;
}
.section-container__slideshow .swiper-container .content--container__wrapper .content--container h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
.section-container__slideshow .swiper-container .content--container__wrapper .content--container .text {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
.section-container__slideshow .swiper-container .content--container__wrapper .content--container .button {
  display: inline-block;
  padding: 10px 20px;
  background: var(--color-button);
  color: var(--color-text-button);
  text-decoration: none;
  transition: background-color 0.3s;
}
.section-container__slideshow .swiper-container .content--container__wrapper .content--container .button:hover {
  background-color: var(--color-button-hover);
}
.section-container__slideshow .swiper-container .swiper-slide.text--left .content--container {
  text-align: left;
}
.section-container__slideshow .swiper-container .swiper-slide.text--right .content--container {
  text-align: right;
}
.section-container__slideshow .swiper-container .swiper-slide.text--center .content--container {
  text-align: center;
}
.section-container__slideshow .swiper-container .swiper-slide.horizontally--left .content--container__wrapper {
  align-items: flex-start;
}
.section-container__slideshow .swiper-container .swiper-slide.horizontally--right .content--container__wrapper {
  align-items: flex-end;
}
.section-container__slideshow .swiper-container .swiper-slide.horizontally--center .content--container__wrapper {
  align-items: center;
}
.section-container__slideshow .swiper-container .swiper-slide.vertically--top .content--container__wrapper {
  justify-content: flex-start;
}
.section-container__slideshow .swiper-container .swiper-slide.vertically--bottom .content--container__wrapper {
  justify-content: flex-end;
}
.section-container__slideshow .swiper-container .swiper-slide.vertically--center .content--container__wrapper {
  justify-content: center;
}

.swiper-container {
  overflow: hidden;
}

#logo {
  display: block;
  max-width: 250px;
}
@media screen and (max-width: 768px) {
  #logo {
    max-width: 150px;
    margin: auto;
  }
}

.header-main--container {
  display: flex;
  justify-content: space-between;
}
.header-main--container:before, .header-main--container:after {
  content: none;
}
.header-main--container .navigation--container {
  display: flex;
  align-items: center;
  width: fit-content;
}
.header-main--container .navigation--container .site-header-nav {
  margin: 0;
}
.header-main--container .navigation--container .site-header-nav nav {
  display: flex;
}
.header-main--container .navigation--container .site-header-nav nav .main-nav {
  display: flex;
  align-items: center;
  margin: 0;
}

.site-header {
  background: white;
  position: sticky;
  top: 0;
  border-bottom: 2px solid #7bc24f;
  z-index: 999999;
  margin: 0;
}

.swiper-container {
  position: relative;
}
.swiper-container .swiper-button-next:after {
  margin-left: 4px;
}
.swiper-container .swiper-button-prev:after {
  margin-right: 4px;
}
.swiper-container .swiper-button-next, .swiper-container .swiper-button-prev {
  background: var(--background-color);
  border: 2px solid var(--button-color-secondary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.swiper-container .swiper-button-next:after, .swiper-container .swiper-button-prev:after {
  font-size: 25px;
  color: var(--button-color-secondary);
}
.swiper-container .swiper-pagination,
.swiper-container .swiper-horizontal > .swiper-pagination-bullets,
.swiper-container .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-container .swiper-pagination-custom,
.swiper-container .swiper-pagination-fraction {
  background: var(--background-color);
  width: fit-content;
  left: 50%;
  padding: 5px 25px;
  border-radius: 25px;
  bottom: 15px;
  opacity: 0.75;
  border: 2px solid var(--button-color-secondary);
  transition: opacity 300ms ease-in-out;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet-active,
.swiper-container .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active,
.swiper-container .swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet-active,
.swiper-container .swiper-pagination-custom .swiper-pagination-bullet-active,
.swiper-container .swiper-pagination-fraction .swiper-pagination-bullet-active {
  background: var(--button-color-secondary);
}
.swiper-container .swiper-pagination:hover,
.swiper-container .swiper-horizontal > .swiper-pagination-bullets:hover,
.swiper-container .swiper-pagination-bullets.swiper-pagination-horizontal:hover,
.swiper-container .swiper-pagination-custom:hover,
.swiper-container .swiper-pagination-fraction:hover {
  opacity: 1;
}

.breadcrumbs {
  margin-top: 25px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.collection-grid-heading {
  display: none;
}

.collections--list.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.collections--list.grid .collection-grid-item {
  width: 100%;
}
.collections--list.grid .collection-grid-item .coll-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
.collections--list.grid .collection-grid-item .coll-caption .coll-title {
  font-size: 24px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .collections--list.grid .collection-grid-item .coll-caption .coll-title {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .collections--list.grid .collection-grid-item .coll-caption {
    margin-top: 15px;
  }
}
.collections--list.grid:before, .collections--list.grid:after {
  content: none;
}
@media screen and (max-width: 768px) {
  .collections--list.grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.about-text {
  padding: 25px 0;
}
.about-text .container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about-text .container .image--container {
  max-width: 550px;
  width: 100%;
  margin: auto;
}
.about-text .container .rte {
  max-width: 1050px;
  width: 100%;
  margin: auto;
  text-align: center;
}
.about-text .container .btn {
  width: fit-content;
  margin: auto;
}

#logo {
  max-width: 150px;
}

.reviews-slider {
  display: flex;
  align-items: center;
  min-height: 300px;
  padding: 50px 0;
}
.reviews-slider .container {
  max-width: 100%;
}
.reviews-slider h2 {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}
.reviews-slider .review {
  padding: 75px;
  text-align: center;
  font-size: 24px;
}
.reviews-slider .link--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.reviews-slider .link--container .btn {
  margin: auto;
  width: fit-content;
}

.newsletter-wrap {
  background: var(--newsletter-background-color, #7bc24f);
}
.newsletter-wrap .form-group, .newsletter-wrap #mc-embedded-subscribe {
  margin-bottom: 10px;
}

.legacy--sections.collection--list {
  margin-top: 50px;
}
.legacy--sections.collection--list .collections--list {
  grid-template-columns: repeat(6, 1fr);
}
.legacy--sections.collection--list .collections--list .collection-grid-item {
  padding: 0;
  max-width: 150px;
  margin: auto;
  transform: scale(1);
  transition: transform 0.3s;
}
.legacy--sections.collection--list .collections--list .collection-grid-item .coll-title {
  color: var(--color-text);
  font-size: 16px;
}
.legacy--sections.collection--list .collections--list .collection-grid-item .coll-item-count {
  display: none;
}
.legacy--sections.collection--list .collections--list .collection-grid-item:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 1280px) {
  .legacy--sections.collection--list .collections--list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .legacy--sections.collection--list .collections--list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.featured--products--container .container {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 50px;
}
.featured--products--container .container h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 25px;
}
.featured--products--container .container .featured--products {
  display: flex;
  gap: 25px;
}
.featured--products--container .container .featured--products .featured--product {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px solid #eee;
  padding: 25px;
  width: 100%;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}
.featured--products--container .container .featured--products .featured--product .featured--product--image {
  position: relative;
}
.featured--products--container .container .featured--products .featured--product .featured--product--image a {
  display: block;
  position: relative;
  overflow: hidden;
  height: 0;
  padding-top: 100%;
}
.featured--products--container .container .featured--products .featured--product .featured--product--image a img {
  transform: scale(1);
  transition: transform 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.featured--products--container .container .featured--products .featured--product .featured--product--image .badge {
  position: absolute;
  top: 0;
  left: 0;
  background: #7bc24f;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 50px;
}
.featured--products--container .container .featured--products .featured--product .featured--product--image .badge.badge--sale {
  background: #ff0000;
}
.featured--products--container .container .featured--products .featured--product .featured--product--image .badge.badge--new {
  background: #26328c;
}
.featured--products--container .container .featured--products .featured--product .featured--product--image .badge.badge--best {
  background: #7dc24f;
}
.featured--products--container .container .featured--products .featured--product .featured--product--info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.featured--products--container .container .featured--products .featured--product .featured--product--info h3 {
  font-size: 20px;
  text-align: center;
  margin: 0;
  width: 100%;
}
.featured--products--container .container .featured--products .featured--product .featured--product--info .btn {
  margin: auto;
  width: fit-content;
}
.featured--products--container .container .featured--products .featured--product:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.featured--products--container .container .featured--products .featured--product:hover .featured--product--image img {
  transform: scale(1.05);
}
@media screen and (max-width: 768px) {
  .featured--products--container .container .featured--products {
    flex-direction: column;
  }
}

/*# sourceMappingURL=malik.css.map */
