.section-container__slideshow .swiper-container {
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-overlay);
    opacity: var(--overlay-opacity);

    z-index: 1;
  }

  .image--container {
    width: 100%;
    max-width: 100%;
    position: relative;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;

      &.desktop {
        display: block;
      }

      &.mobile {
          display: none;
      }

      @media (max-width: 768px) {
        &.desktop {
          display: none;
        }

        &.mobile {
          display: block;
        }
      }
    }
  }

  .content--container__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
    color: var(--color-text);
    text-align: center;

    .content--container {
      display: flex;
      flex-direction: column;
      gap: 25px;

      max-width: 450px;
      width: 100%;

      h2 {
        font-size: 24px;
        font-weight: 700;
        margin: 0;
      }

      .text {
        font-size: 16px;
        font-weight: 400;
        margin: 0;
      }

      .button {
        display: inline-block;
        padding: 10px 20px;
        background: var(--color-button);
        color: var(--color-text-button);
        text-decoration: none;
        transition: background-color 0.3s;

        &:hover {
          background-color: var(--color-button-hover);
        }
      }
    }
  }

  .swiper-slide{
    &.text--left {
      .content--container {
        text-align: left;
      }
    }

    &.text--right {
      .content--container {
          text-align: right;
      }
    }

    &.text--center {
      .content--container {
          text-align: center;
      }
    }

    &.horizontally--left {
      .content--container__wrapper {
        align-items: flex-start;
      }
    }

    &.horizontally--right {
      .content--container__wrapper {
        align-items: flex-end;
      }
    }

    &.horizontally--center {
      .content--container__wrapper {
        align-items: center;
      }
    }

    &.vertically--top {
      .content--container__wrapper {
        justify-content: flex-start;
      }
    }

    &.vertically--bottom {
      .content--container__wrapper {
        justify-content: flex-end;
      }
    }

    &.vertically--center {
      .content--container__wrapper {
        justify-content: center;
      }
    }
  }
}

.swiper-container {
  overflow: hidden;
}

#logo {
  display: block;
  max-width: 250px;

  @media screen and (max-width: 768px) {
    max-width: 150px;
    margin: auto;
  }
}

.header-main--container {
  display: flex;
  justify-content: space-between;

  &:before, &:after {
    content: none;
  }

  .navigation--container {
    display: flex;
    align-items: center;
    width: fit-content;

    .site-header-nav {
      margin: 0;

      nav {
        display: flex;

        .main-nav {
          display: flex;
          align-items: center;

          margin: 0;
        }
      }
    }

  }
}

.site-header {
  background: white;
  position: sticky;
  top: 0;
  border-bottom: 2px solid #7bc24f;
  z-index: 999999;
  margin: 0;
}

.swiper-container {
  position: relative;

  .swiper-button-next:after {
    margin-left: 4px;
  }

  .swiper-button-prev:after {
      margin-right: 4px;
  }

  .swiper-button-next, .swiper-button-prev {
    background: var(--background-color);
    border: 2px solid var(--button-color-secondary);
    width: 50px;
    height: 50px;
    border-radius: 50%;

    &:after {
      font-size: 25px;
      color: var(--button-color-secondary);
    }
  }

  .swiper-pagination,
  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    background: var(--background-color);
    width: fit-content;
    left: 50%;
    padding: 5px 25px;
    border-radius: 25px;
    bottom: 15px;
    opacity: .75;
    border: 2px solid var(--button-color-secondary);

    transition: opacity 300ms ease-in-out;

    .swiper-pagination-bullet-active {
      background: var(--button-color-secondary);
    }

    &:hover {
      opacity: 1;
    }
  }
}

.breadcrumbs {
  margin-top: 25px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.collection-grid-heading {
  display: none;
}

.collections--list.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  .collection-grid-item {
    width: 100%;

    .coll-caption {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-top: 25px;

      .coll-title {
        font-size: 24px;
        text-align: center;

        @media screen and (max-width: 768px) {
          font-size: 20px;
        }
      }

      @media screen and (max-width: 768px) {
        margin-top: 15px;
      }
    }
  }

  &:before, &:after {
    content: none;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.about-text {
  padding: 25px 0;

  .container {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .image--container {
      max-width: 550px;
      width: 100%;
      margin: auto;
    }

    .rte {
      max-width: 1050px;
      width: 100%;
      margin: auto;

      text-align: center;
    }

    .btn {
      width: fit-content;
      margin: auto;
    }
  }
}

#logo {
  //padding: 25px;
  max-width: 150px;

  //#7bc24f
}

.reviews-slider {
  display: flex;
  align-items: center;
  min-height: 300px;

  padding: 50px 0;

  .container {
    max-width: 100%;
  }

  h2 {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    text-align: center;
  }

  .review {
    padding: 75px;
    text-align: center;

    font-size: 24px;
  }

  .link--container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    .btn {
      margin: auto;
      width: fit-content;
    }
  }

}

.newsletter-wrap {
  background: var(--newsletter-background-color, #7bc24f);

  .form-group, #mc-embedded-subscribe {
    margin-bottom: 10px;
  }
}

.legacy--sections.collection--list {
  margin-top: 50px;

  .collections--list {
    grid-template-columns: repeat(6, 1fr);

    .collection-grid-item {
      padding: 0;
      max-width: 150px;
      margin: auto;

      transform: scale(1);
      transition: transform 0.3s;

      .coll-title {
        color: var(--color-text);
        font-size: 16px;
      }

      .coll-item-count {
        display: none;
      }

      &:hover {
        transform: scale(1.05);
      }
    }

    @media screen and (max-width: 1280px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.featured--products--container .container {
  display: flex;
  flex-direction: column;

  padding-top: 0;
  padding-bottom: 50px;

  h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;

    margin: 0 0 25px;
  }

  .featured--products {
    display: flex;
    gap: 25px;

    .featured--product {
      display: flex;
      flex-direction: column;
      gap: 25px;

      border: 1px solid #eee;
      padding: 25px;

      width: 100%;

      box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);

      transition: box-shadow 0.3s;

      .featured--product--image {
        position: relative;

        a {
          display: block;

          position: relative;
          overflow: hidden;
          height: 0;
          padding-top: 100%;

          img {
            transform: scale(1);
            transition: transform 0.3s;

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .badge {
          position: absolute;
          top: 0;
          left: 0;
          background: #7bc24f;
          color: white;
          padding: 5px 10px;
          font-size: 16px;

          text-transform: uppercase;

          border-radius: 50px;

          &.badge--sale {
            background: #ff0000;
          }

          &.badge--new {
              background: #26328c;
          }

          &.badge--best {
              background: #7dc24f;
          }
        }
      }

      .featured--product--info {
        display: flex;
        flex-direction: column;
        gap: 15px;

        h3 {
          font-size: 20px;
          text-align: center;
          margin: 0;

          width: 100%;
        }

        .btn {
          margin: auto;
          width: fit-content;
        }
      }

      &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        .featured--product--image img {
          transform: scale(1.05);
        }
      }
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
}
